---
http_interactions:
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?city=Chicago&user_key=YOUR_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"237174208","charityName":"LELAND-KENMORE
        WELFARE RIGHTS","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/237174208","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/237174208","eligibleCd":0,"city":"CHICAGO","state":"Illinois","zipCode":"60640-5027","deductibilityCd":0,"statusCd":4,"start":0,"rows":20,"recordCount":26333,"score":1,"website":"","missionStatement":"","acceptingDonations":0},{"ein":"364470186","charityName":"HIGH
        JUMP","category":"Educational Institutions and Related Activities","url":"http:\/\/www.orghunter.com\/organization\/364470186","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/364470186","eligibleCd":1,"city":"CHICAGO","state":"Illinois","zipCode":"60610-1403","deductibilityCd":1,"statusCd":1,"start":0,"rows":20,"recordCount":26333,"score":1,"website":"www.highjumpchicago.org","missionStatement":"A
        rigorous academic enrichment a[...]
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?city=Chicago&user_key=60b5c413389afd528034f03af0857824
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"300087875","charityName":"CARE
        BUS INC","category":"Human Services - M[...]
