---
http_interactions:
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?ein=261688229&user_key=YOUR_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"261688229","charityName":"KIDS
        COWS AND MORE INC","category":"Arts, Culture and Humanities","url":"http:\/\/www.orghunter.com\/organization\/261688229","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/261688229","eligibleCd":1,"city":"HOUSTON","state":"Texas","zipCode":"77018-8305","deductibilityCd":1,"statusCd":1,"start":0,"rows":20,"recordCount":1,"score":1,"website":"","missionStatement":"","acceptingDonations":1}]}'
  recorded_at: Thu, 03 Nov 2016 21:10:31 GMT
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?ein=261688229&user_key=60b5c413389afd528034f03af0857824
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"261688229","charityName":"KIDS
        COWS AND MORE INC","category":"Arts, Culture and Humanities","url":"http:\/\/www.orghunter.com\/organization\/261688229","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/261688229","eligibleCd":1,"city":"HOUSTON","state":"Texas","zipCode":"77018-8305","deductibilityCd":1,"statusCd":1,"start":0,"rows":20,"recordCount":1,"score":1,"website":"","missionStatement":"","acceptingDonations":1}]}'
  recorded_at: Fri, 20 Jan 2017 16:44:11 GMT
recorded_with: VCR 3.0.3
