---
http_interactions:
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?eligible=1&user_key=YOUR_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"223051022","charityName":"YOUNG
        SCHOLARS INSTITUTE INC","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/223051022","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/223051022","eligibleCd":1,"city":"TRENTON","state":"New
        Jersey","zipCode":"08618-5705","deductibilityCd":1,"statusCd":1,"start":0,"rows":20,"recordCount":1338910,"score":1,"website":"","missionStatement":"","acceptingDonations":1},{"ein":"470646854","charityName":"EMERSON
        SENIOR CITIZENS","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/470646854","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/470646854","eligibleCd":1,"city":"EMERSON","state":"Nebraska","zipCode":"68733-0000","deductibilityCd":1,"statusCd":1,"start":0,"rows":20,"recordCount":1338910,"score":1,"website":"","missionStatement":"","acceptingDonations":1},{"ein":"800616688","charityName":"SPIRITUAL
        ASSE[...]
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?eligible=1&user_key=60b5c413389afd528034f03af0857824
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"61469247","charityName":"INTERNATIONAL
        TRAUMA CENTER INC","category":"Ed[...]
