---
http_interactions:
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?user_key=YOUR_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"363958893","charityName":"JEANNE
        RANDALL MALKIN FAMILY","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/363958893","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/363958893","eligibleCd":0,"city":"CHICAGO","state":"Illinois","zipCode":"60606-4629","deductibilityCd":0,"statusCd":4,"start":0,"rows":20,"recordCount":1431,"score":1,"website":"","missionStatement":"","acceptingDonations":0},{"ein":"360755480","charityName":"THE
        ATTIC","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/360755480","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/360755480","eligibleCd":0,"city":"CHICAGO","state":"Illinois","zipCode":"60606-3102","deductibilityCd":0,"statusCd":4,"start":0,"rows":20,"recordCount":1431,"score":1,"website":"","missionStatement":"","acceptingDonations":0},{"ein":"942847968","charityName":"CITY
        OF HOPE","category":"Not P[...]
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?user_key=60b5c413389afd528034f03af0857824&zipCode=60606
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"383876392","charityName":"ENTREVAN","category":"Human
        Services - Mult[...]
